{{ ansible_managed | comment }}

port {{ openvpn_port }}
proto {{ openvpn_proto }}
dev {{ openvpn_dev }}

cipher {{ openvpn_cipher }}
ca {{ openvpn_configdir }}/keys/ca.crt
cert {{ openvpn_configdir }}/keys/server.crt
key {{ openvpn_configdir }}/keys/server.key
dh {{ openvpn_configdir }}/keys/server.dh

tls-auth {{ openvpn_configdir }}/keys/ta.key 0
tls-server

server {{ openvpn_subnet }} 255.255.255.0

keepalive {{ openvpn_keepalive }}

comp-lzo

persist-key
persist-tun

max-clients {{ openvpn_max_clients }}

verb {{ openvpn_verb }}

user {{ openvpn_user }}
group {{ openvpn_group }}

ifconfig-pool-persist ipp.txt
{% for option in openvpn_server_options %}
{{ option }}
{% endfor %}
