{{ ansible_managed | comment }}
{% if smtpd_listens is defined %}
{% for listen in smtpd_listens %}
{% if listen.pki is defined %}
pki {{ listen.hostname }} certificate "/etc/ssl/{{ listen.pki }}.crt"
pki {{ listen.hostname }} key "/etc/ssl/private/{{ listen.pki }}.key"
{% endif %}
{% endfor %}
{% endif %}

listen on lo0
{% if smtpd_listens is defined %}
{% for listen in smtpd_listens %}
listen on {{ listen.interface }}{% if listen.port is defined %} \
  port {{ listen.port }}{% endif %}{% if listen.pki is defined %} \
  {% if listen.tls_required is defined and listen.tls_required %}tls-require{% else %}tls{% endif %} pki {{ listen.pki }}{% endif %}{% if listen.hostname is defined %} \
  hostname {{ listen.hostname }}{% endif %}{% if listen.auth is defined %} \
  auth{% endif %}
{% endfor %}

{% endif %}

table aliases file:/etc/mail/aliases

accept for local alias <aliases> \
  {% if smtpd_mda is defined %}deliver to mda "{{ smtpd_mda.program }}"{% endif %}
  {% if smtpd_mbox is defined %}deliver to mbox{% endif %}
  {% if smtpd_maildir is defined %}deliver to maildir{% if smtpd_maildir.path is defined %} {{ smtpd_maildir.path }}{% endif %}{% endif %}
  {% if smtpd_relay is defined %}relay{% if smtpd_relay.backup is defined %} backup {{ smtpd_relay.backup }}{% endif %}{% endif %}

accept from local for any relay
