{{ ansible_managed | comment }}
{% if smtpd_pkis is defined %}

{% for pki in smtpd_pkis %}
{% if pki.certificate is defined %}
pki {{ pki.name }} certificate "/etc/ssl/{{ pki.name }}.crt"
{% endif %}
{% if pki.key is defined %}
pki {{ pki.name }} key "/etc/ssl/private/{{ pki.name}}.key"
{% endif %}
{% if pki.dh is defined %}
pki {{ pki.name }} dhparams "/etc/ssl/private/{{ pki.name}}.dh"
{% endif %}
{% endfor %}
{% endif %}

listen on lo0
{% if smtpd_listens is defined %}
{% for listen in smtpd_listens %}
listen on {{ listen.interface }}{% if listen.port is defined %} \
  port {{ listen.port }}{% endif %}{% if listen.pki_name is defined %} \
  {% if listen.tls_required is defined and listen.tls_required %}tls-require{% else %}tls{% endif %} {{ listen.pki_name }}{% endif %}{% if listen.hostname is defined %} \
  hostname {{ listen.hostname }}{% endif %}{% if listen.auth_table is defined %} \
  auth <{{ listen.auth_table }}>{% endif %}

{% endfor %}
{% endif %}

table aliases file:/etc/mail/aliases
{% if smtpd_domains is defined %}table domains {{"{"}} {{ smtpd_domains | join(", ") }} {{"}"}}{% endif %}

{% if smtpd_domains is defined %}
accept from any for domain <domains> alias <aliases> \
  {% if smtpd_mda is defined %}deliver to mda "{{ smtpd_mda.program }}"{% endif %}
  {% if smtpd_mbox is defined %}deliver to mbox{% endif %}
  {% if smtpd_maildir is defined %}deliver to maildir{% if smtpd_maildir.path is defined %} {{ smtpd_maildir.path }}{% endif %}{% endif %}
{% endif %}

accept for local alias <aliases> deliver to mbox
accept from local for any relay
