{{ ansible_managed | comment }}
ext_if="{{ ext_if }}"

set block-policy return
set skip on lo0

match in all scrub (no-df random-id max-mss 1440)
block in all
block return

antispoof log for $ext_if

pass in on $ext_if proto icmp all
pass in on $ext_if proto icmp6 all

# NTP access
pass out on $ext_if proto {tcp, udp} to any port ntp

# SSH access
pass out on $ext_if proto tcp to any port ssh
pass in on $ext_if proto tcp from any to any port ssh flags S/SA synproxy state

# DNS access
pass out on $ext_if proto {tcp, udp} to any port domain
{% if inventory_hostname in groups['dnsservers'] %}
pass in on $ext_if proto {tcp, udp} from any to any port domain
{% endif %}

# SMTP access
pass out on $ext_if proto tcp to any port smtp
{% if inventory_hostname in groups['smtpservers'] %}
pass in on $ext_if proto tcp from any to any port smtp
{% endif %}

# HTTP access
pass out on $ext_if proto tcp to any port {http, https}
{% if inventory_hostname in groups['webmail'] %}
pass in on $ext_if proto tcp from any to any port {http, https}

# Sieve access
pass out on $ext_if proto tcp to any port 4190

# Submission access
pass out on $ext_if proto tcp to any port submission

# IMAP access
pass out on $ext_if proto tcp to any port imap
{% endif %}

{% if inventory_hostname in groups['vpnservers'] %}
# OpenVPN access
pass in on $ext_if proto {{ openvpn_proto }} from any to any port {{ openvpn_port }}
pass out on $ext_if from {{ openvpn_subnet }}/24 to any nat-to ({{ ansible_default_ipv4.device }})
pass in on {{ openvpn_dev }}0 from any to any
{% endif %}
