{{ ansible_managed | comment('plain', decoration=';') }}
[{{ item }}]
user = www
group = www

listen = /var/www/run/{{ item }}.sock
listen.owner = www
listen.group = www
listen.mode = 0660

pm = dynamic
pm.max_children = 5
pm.min_spare_servers = 1
pm.max_spare_servers = 3

chroot = /var/www
