{{ ansible_managed | comment }}

types { include "/usr/share/misc/mime.types" }

{% for server in httpd_servers %}
server "{{ server.name }}" {
{% if server.tls_only is not defined or not server.tls_only %}
  listen on egress port 80
{% endif %}
{% if server.tls_only or server.tls %}
  listen on egress tls port 443

  tls certificate "/etc/ssl/{{ server.name }}.crt"
  tls key "/etc/ssl/private/{{ server.name }}.key"
  # Strong Ciphers from Cipherli.st
  tls ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH"

  hsts { subdomains }
{% endif %}

{% for location in server.locations %}
  location "{{ location.path }}" {
{% if location.block is defined and location.block %}
    block
{% elif location.root is defined %}
    root { "{{ location.root.directory }}"{% if location.root.strip  is defined %}, strip {{ location.root.strip }}{% endif %} }
{% if location.fastcgi is defined and location.fastcgi.socket is defined %}
    fastcgi socket "{{ location.fastcgi.socket }}"
{% endif %}
{% endif %}
  }
{% endfor %}
}
{% if server.tls_only is defined and server.tls_only %}
server "{{ server.name }}" {
        listen on egress port 80
        block return 301 "https://$SERVER_NAME$REQUEST_URI"
}
{% endif %}
{% endfor %}
